<H1>Backends</H1>

<table class="table table-bordered">
  <thead><tr>
    <th>Name</th>
    <th>Host</th>
    <th>Port</th>
    <th>Frontend</th>
    <th>Actions</th>
  </tr></thead>
  <tbody><% for be in @backends %>
    <tr>
      <td><%= be.name %></td>
      <td><%= be.hostnames.join(" ") %></td>
      <td><%= be.frontend.name %></td>
      <td><%= button_to "Delete", backend_path(be), :method => :delete, :class => "btn btn-mini", :confirm => "Are you sure?" %></td>
    </tr>
  <% end %></tbody>
</table>