<% for s in @worker_endpoint_job.remote_status %>
    <div><%= s %></div>
<% end if @worker_endpoint_job && @worker_endpoint_job.remote_status %>
<div>Instance: <%= @worker_endpoint_job.instance_status if @worker_endpoint_job %></div>