$("#log").append('<%= @logs.map{|x| "<div>#{escape_javascript(x)}</div>" }.join.html_safe %>');
<% if @worker_endpoint.remote_status %>
$("#endpoint_remote_status").html('<%= escape_javascript(render(:partial => 'endpoint_remote_status')) %>');
<% end %>
$("#endpoint_deploy_status").html('<%= escape_javascript(@worker_endpoint.status); %>');