<tr>
  <td>Server Endpoint</td>
  <td><%= link_to @server_endpoint.name, frontend_backend_server_endpoint_path(@frontend, @backend, @server_endpoint) %></td>
  <td><%= @server_endpoint_job.delayed_jobs.count if @server_endpoint_job %></td>
  <td>
    <% for s in @server_endpoint_job.git_commit do %>
        <div><%= s %></div>
    <% end if @server_endpoint_job && @server_endpoint_job.git_commit %>
  </td>
  <td>
    <% for s in @server_endpoint_job.remote_status do %>
        <div><%= s %></div>
    <% end if @server_endpoint_job && @server_endpoint_job.remote_status %>
  </td>
</tr>