<h1>Edit Installation</h1>

<%= render :partial => 'form' %>
<%= link_to "Upload New SSH Key", new_remote_key_path %> |
<%= link_to "Upload New Deploy Heroku API Key", new_deploy_heroku_api_key_path %>
