<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Frontend</th>
    <td><%= @frontend.name %></td>
  </tr>
  <tr>
    <th>Host IP</th>
    <td><%= @frontend.external_ip %></td>
  </tr>
  </tbody>
</table>