$("#log").append('<%= @logs.map{|x| "<div>#{escape_javascript(x)}</div>" }.join.html_safe %>');
$("#frontend_hostip").html('<%= escape_javascript(@hostip); %>');
$("#frontend_configured").html('<%= escape_javascript(@remote_configured); %>');