$("#log").append('<%= @logs.map{|x| "<div>#{escape_javascript(x)}</div>" }.join.html_safe %>');
$("#worker_endpoints_table").html('<%= escape_javascript(render :partial => "worker_endpoints_table") %>')
$("#server_endpoints_table").html('<%= escape_javascript(render :partial => "server_endpoints_table") %>')