<% for s in @server_endpoint_job.git_commit %>
    <div><%= s %></div>
<% end if @server_endpoint_job && @server_endpoint_job.git_commit %>
<div>UPDATED <%= @server_endpoint_job.updated_at if @server_endpoint_job %></div>